
.nav-bar li {
	display: inline;
	margin: 10px 10px 0px;
	float: right;
}

.nav-bar li a{
	text-decoration: none;
}

.nav-bar li a:hover {
	text-decoration: underline;
}

.nav-bar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#signinbutton {
	height: 30px;
	width: 70px;
	background-color: #4285f4;
	font-weight: bold;
	margin-top: 1px;
	margin-bottom:1px;
	margin-right: 10px;
	border: none;
}

#signinbutton a{
	color:#ffffff;



.container {
	position: relative;
	text-align: center;
	margin: 150px auto;
}

.search-bar {
	position: relative;
}

.search-bar input {
	width: 600px;
	height: 40px;
	margin: 20px 0;
}

.button {
	font-family: arial;
	display: inline;
	position: relative;


#searchbutton {
	width: 130px;
	height: 40px;
}

#luckybutton {
	width: 120px;
	height: 40px;

}

.language {
	margin-top: 30px;
}

.language ul {
	list-style-type: none;

	font-size: 14px;

	font-family: arial;


.language .li {
	display: inline;
	position: relative;
	padding-right: 2px;
	margin-right: 20px;
	margin-left: 2px;
}

.language a {
	text-decoration: none;
	color: rgb(0, 0, 255);
}

.language a:hover {
	text-decoration: underline;
}


#footer {
	font-family: arial;
	font-size: 13px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #DCDCDC;
	list-style-type: none;
	display: inline-block;
	color: black;
}

.footer ul {

	color: rgba(0,0,0,0.54);
}

#footer ul {
	list-style-type: none;
	margin-bottom: 20px;
}


#footer li:hover {
	text-decoration: underline;
}

.right li {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
}

.left li{
	float: left;
	margin-left: 20px;
}



